.dialog {
    width: 600px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: 0.5s;
    left: 0;
    top: 0;
    z-index: 1;
}

.active {
    transform: scale(1);
}

.content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
}